<footer class="site-footer">
  <div class="grid-container">
    <div class="footer__header">
			Have a question? Want to reach out? Drop us a line.
		</div>
    <div class="footer__form"></div>
    <div class="footer__nav">
      <ul>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/curriculum">Curriculum</a></li>
        <li><a href="/studio">Build Studio</a></li>
        <li><a href="/summer-speakers">Summer Speakers</a></li>
      </ul>
    </div>
    <div class="footer__iyrs-logo"></div>
  </div>



<script type="text/javascript">

'use strict';

var select = function select(selector) {
	return document.querySelector(selector);
};
var all = function all(selectors) {
	return document.querySelectorAll(selectors);
};

var nav = select('nav');
var links = Array.prototype.slice.call(all('.nav__page-link'));
var bounds = nav.getBoundingClientRect();
var line = select('nav .line');
var transforms = links.map(function (el) {
	return el.getBoundingClientRect();
}).map(function (rect) {
	return {
		x: rect.left - bounds.left,
		scale: rect.width / bounds.width
	};
});

var transform = function transform(index) {
	return 'translateX(' + transforms[index].x + 
	'px) scaleX(' + transforms[index].scale + ')';
};

var onMouseOver = function onMouseOver(evt) {
	var index = links.indexOf(evt.currentTarget);
	line.style.transform = transform(index);
};

var toCurrent = function toCurrent(evt) {
	for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL 
					&& document.links[i].className != "site-title" ) {
				var index = links.indexOf(document.links[i]);
				line.style.transform = transform(index);
    }
		if (document.links[i].href == document.URL 
					&& document.links[i].className == "site-title") {
			var index = links.indexOf(document.links[1]);
			line.style.transform = transform(index);
		}
	}
};


window.onload = function setActive(evt) {
	for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].href == document.URL 
					&& document.links[i].className != "site-title" ) {
        document.links[i].className = "current-page-header_highlight";
				var index = links.indexOf(document.links[i]);
				line.style.transform = transform(index);
    }
	}
};

var init = function init() {
	links.forEach(function (el) {
		return el.addEventListener('mouseenter', onMouseOver);
	});
	nav.addEventListener('mouseleave', toCurrent);
};

init();




  </script>

</footer>

