@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
// Define defaults for each variable.


$base-font-family: "Roboto Mono", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

//Typography
$h1-size: 64px;
$h1-weight: "Roboto Mono", Helvetica, Arial, sans-serif;
$h1-family: 400;

$h2-size: 48px;
$h2-weight: "Roboto Mono", Helvetica, Arial, sans-serif;
$h2-family: 800;

$h3-size: 24px;
$h3-weight: "Roboto Mono", Helvetica, Arial, sans-serif;
$h3-family: 400;

$phone: (
    media: 768px
);


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin font-face($font-family, $weight, $size) {
  font-family: $font-family;
  font-weight: $weight;
  font-size: $size;
}


// Import partials.
@import
  "neat/neat",
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "minima/home"
;
