@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500i,700');

// Define defaults for each variable.

$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);


$base-font-family: "Roboto Mono", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

// Colors
$brand-color: blue;
$text-color:       #111 !default;
$background-color: #fdfdfd !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Brand colors
$light-gray: #EBF0F0;
$pale-blue-gray: #C0C8DA;
$dark-blue-gray: #61718C;
$dark-navy: #272B3F;
$orange: #FF6868;
$yellow: #FFDE68;
$cyan: #84E3DD;


$hero-bg-gradient: linear-gradient(-134deg, #EBF0F0 0%, #C0C8DA 100%);

// Width of the content area
$content-width:    800px !default;

$on-palm:          768px !default;
$on-laptop:        800px !default;

//Typography
$h1-size: 64px;
$h1-family: "neuzeit-grotesk", Helvetica, Arial, sans-serif;
$h1-weight: 400;

$h2-size: 48px;
$h2-family: "Roboto Mono", Helvetica, Arial, sans-serif;
$h2-weight: 800;

$h3-size: 24px;
$h3-family: "Roboto Mono", Helvetica, Arial, sans-serif;
$h3-weight: 400;


$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$neuziet: "neuzeit-grotesk", Helvetica, Arial, sans-serif;
$roboto-mono: "Roboto Mono", Helvetica, Arial, sans-serif;

.sub-header-1{
  font-family: $neuziet;
  font-weight: $bold;
  font-size: 24px;
  text-transform: uppercase;
  color: $dark-navy;
  letter-spacing: 3px
}


$desktop: (
    media: 768px
);

$tablet: (
    media: 540px
);



@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin font-face($font-family, $weight, $size) {
  font-family: $font-family;
  font-weight: $weight;
  font-size: $size;
}

@mixin media-query-inbetween($max, $min) {
  @media screen and (max-width: $max) and (min-width: $min) {
    @content;
  }
}

// mixin
@mixin angle($pseudo, $flip: false, $angle: 1.5deg) {
  // Possible values for $pseudo are: before, after, both
  @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
    position: relative;
    z-index: 1;
    $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

    #{$selector} {
      background: inherit;
      content: '';
      display: block;
      height: 50%;
      left: 0;
      position: absolute;
      right: 0;
      z-index: -1;
      -webkit-backface-visibility: hidden; // for Chrome Windows
    }

    @if $pseudo == 'before' {
      #{$selector} {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }
    }

    @if $pseudo == 'after' {
      #{$selector} {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 100%;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }

    @if $pseudo == 'both' {
      &:before {
        top: 0;

        @if $flip {
          transform: skewY($angle * -1);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle);
          transform-origin: 100% 0;
        }
      }

      &:after {
        bottom: 0;

        @if $flip {
          transform: skewY($angle);
          transform-origin: 0 0;
        } @else {
          transform: skewY($angle * -1);
          transform-origin: 100%;
        }
      }
    }
  }
}

// slanted edges here
.edge--bottom {
  @include angle(after);
}

.edge--bottom--reverse {
  @include angle(after, true);
}

.edge--top {
  @include angle(before);
}

.edge--top--reverse {
  @include angle(before, true);
}

.edge--both {
  @include angle(both);
}

.edge--both--reverse {
  @include angle(both, true);
}


// Import partials.
@import
  "neat/neat",
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "minima/home",
  "minima/page",
  "minima/summer-speakers",
  "minima/curriculum",
  "minima/careers",
  "minima/studio"
;
