


// Main styles for the grid system
.grid-container
  @include grid-container
  max-width: 960px
  margin: 0 auto
  position: relative

// Flex is used primarily to reorganize elements on mobile
.flex
  display: flex
  flex-direction: column
  @include grid-media($desktop)
    display: block


// Main button style
.btn
  background: $orange
  margin-top: 10px
  padding: 6px 0
  text-align: center
  color: white
  background: linear-gradient(to right, #ff5555 50%, $orange 50%)
  background-size: 200% 100%
  background-position: right bottom
  transition: background 1.5s $ease-out-quint
  cursor: pointer
  a
    color: white
.btn:hover
  background-position: left bottom
  a
    text-decoration: none
    color: white
  a:visited
    color: white
  a:hover
    text-decoration: none

.sidebar-contact
  +grid-column(12)
  border-top: 1px $pale-blue-gray solid
  padding-top: 20px
  margin-top: 20px
  order: 4
  +grid-media($desktop)
    +grid-column(3)
    float: right
    border-top: none
    padding-top: 0
    margin-top: 0

.sidebar-contact > span:nth-of-type(1)
  font-style: italic
  display: block
  margin-top: 20px

.sidebar-contact > span:nth-of-type(2)
  +font-face($neuziet, $bold, 36px)
  display: block
  line-height: 28px
  margin-bottom: 20px

.sidebar-contact > div:nth-of-type(4)
  margin-top: 20px

.sidebar-contact > .btn
  +grid-media($tablet)
    width: 50%
  +grid-media($desktop)
    width: auto

.page__intro-text
  +font-face($neuziet, $bold, 20px)
  +grid-column(12)
  order: 1
  color: $dark-navy
  +grid-media($desktop)
    +grid-column(7)

.page__intro-subtext
  +grid-column(12)
  padding: 15px 0
  order: 2
  +grid-media($desktop)
    +grid-column(7)
    padding: 30px 0

// Site header
.site-header
  min-height: 54px
  padding: 0 40px
  // Positioning context for the mobile navigation icon
  position: relative

.site-title
  @include relative-font-size(1.625)
  font-weight: 300
  line-height: $base-line-height * $base-font-size * 2.25
  letter-spacing: -1px
  margin-bottom: 0
  float: left

  &,
  &:visited
    color: $grey-color-dark


header
  display: flex
  justify-content: space-between
  align-items: center

.nav
  line-height: $base-line-height * $base-font-size * 2.25
  position: relative
  overflow: hidden
  z-index: 100

  .line
    position: absolute
    width: 100%
    height: 3px
    left: 0
    right: 0
    bottom: 0
    background-color: #ff5555
    transform-origin: left
    transform: translateX(-100%)
    transition: transform 0.8s $ease-out-quint
    will-change: transform

  .nav__trigger
    display: none

  .nav__menu-icon
    display: none

  .nav__page-link
    color: $text-color
    line-height: $base-line-height
    font-size: $base-font-size - 2px
    transition: color 0.4s $ease-out-quint
    // Gaps between nav items, but not on the last one
    &:not(:last-child)
      margin-right: 20px

    &:hover
      text-decoration: none
      transition: color .2s ease-in-out
      color: red

    &[aria-current="page"]
      color: #ff5555

  @include media-query($on-palm)
    position: absolute
    top: 9px
    right: $spacing-unit / 2
    background-color: $background-color
    border: 1px solid $grey-color-light
    border-radius: 5px
    text-align: right

    label[for="nav__trigger"]
      display: block
      float: right
      width: 36px
      height: 36px
      z-index: 2
      cursor: pointer

    .nav__menu-icon
      display: block
      float: right
      width: 36px
      height: 26px
      line-height: 0
      padding-top: 10px
      text-align: center

      > svg path
        fill: $grey-color-dark

    input ~ .trigger
      clear: both
      display: none

    input:checked ~ .trigger
      display: block
      padding-bottom: 5px

    .nav__page-link
      display: block
      padding: 5px 10px

      &:not(:last-child)
        margin-right: 0
        margin-left: 20px

.btn__nav-apply
  padding: 0
  +grid-media($desktop)
    display: inline
    padding: 7px 30px

//Site footer

.site-footer
  border-top: 1px solid $grey-color-light
  padding: $spacing-unit 0
  background-color: $light-gray

.footer__header
  +grid-column(12)
  text-align: center
  +grid-media($desktop)
    +grid-column(12)

.footer__form

.footer__nav
  +grid-media($desktop)
    +grid-column(8)
    +grid-push(2)
    text-align: center
  ul
    list-style: none
  ul li
    float: right
    margin-right: 20px

.footer__iyrs-logo

//Page content
.page-content
  position: relative

.page-heading
  @include relative-font-size(1.25)

.post-list
  margin-left: 0
  list-style: none

  > li
    margin-bottom: $spacing-unit

.post-meta
  font-size: $small-font-size
  color: $grey-color

.post-link
  display: block
  @include relative-font-size(1.5)


//Posts
.post-header
  margin-bottom: $spacing-unit

.post-title
  @include relative-font-size(2.625)
  letter-spacing: -1px
  line-height: 1

  @include media-query($on-laptop)
    @include relative-font-size(2.25)

.post-content
  margin-bottom: $spacing-unit

  h2
    @include relative-font-size(2)

    @include media-query($on-laptop)
      @include relative-font-size(1.75)

  h3
    @include relative-font-size(1.625)

    @include media-query($on-laptop)
      @include relative-font-size(1.375)

  h4
    @include relative-font-size(1.25)

    @include media-query($on-laptop)
      @include relative-font-size(1.125)
