// Main styles for the grid system
.grid-container
  @include grid-container
  max-width: 960px
  margin: 0 auto
  position: relative

// Flex is used primarily to reorganize elements on mobile
.flex
  display: flex
  flex-direction: column
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  display: -webkit-flex
  display: -moz-box
  display: -ms-flexbox
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  @include grid-media($desktop)
    display: block

// Main button style
.btn
  background: $orange
  margin-top: 10px
  padding: 6px 0
  text-align: center
  color: white
  background: linear-gradient(to right, #ff5555 50%, $orange 50%)
  background-size: 200% 100%
  background-position: right bottom
  transition: background 1.5s $ease-out-quint
  cursor: pointer
.btn:hover
  background-position: left bottom
a.btn
  text-decoration: none
  color: white
a.btn:visited
  color: white
a.btn:hover
  text-decoration: none

.sidebar-contact
  +grid-column(12)
  border-top: 1px $pale-blue-gray solid
  padding-top: 20px
  margin-top: 20px
  order: 4
  +grid-media($desktop)
    +grid-column(3)
    float: right
    border-top: none
    padding-top: 0
    margin-top: 0

.sidebar-contact > span:nth-of-type(1)
  font-style: italic
  display: block
  margin-top: 20px

.sidebar-contact > span:nth-of-type(2)
  +font-face($neuziet, $bold, 36px)
  display: block
  line-height: 28px
  margin-bottom: 20px

.sidebar-contact > div:nth-of-type(4)
  margin-top: 20px

.sidebar-contact > .btn
  display: block
  +grid-media($tablet)
    width: 50%
  +grid-media($desktop)
    width: auto

.sidebar-contact__phone,
.sidebar-contact__email
  margin-top: 10px

.page__intro-text
  +font-face($neuziet, $bold, 20px)
  +grid-column(12)
  order: 1
  color: $dark-navy
  +grid-media($desktop)
    +grid-column(7)

.page__intro-subtext
  +grid-column(12)
  padding: 15px 0
  order: 2
  +grid-media($desktop)
    +grid-column(7)
    padding: 30px 0

.curriculum__catalog,
.curriculum__certification,
.key-dates__application-process,
.speaker-calendar-link
  +font-face($roboto-mono, $bold, 16px)
  margin-bottom: 10px
  a
    color: $orange
  a:hover
    color: darken($orange, 10%)

// Site header
.site-header
  min-height: 54px
  padding: 0 40px
  // Positioning context for the mobile navigation icon
  position: relative
  background-color: white

.site-title
  @include relative-font-size(1.625)
  font-weight: 300
  line-height: 3px
  letter-spacing: -1px
  margin-bottom: 0
  float: left
  background: url('../img/dmf-logo-nav.svg')
  height: 27px
  width: 103px
  background-size: cover
  //
  // &:hover
  //   background: url('../img/dmf-logo.gif')
  //   height: 27px
  //   width: 103px
  //   background-size: cover
  &,
  &:visited
    color: $grey-color-dark


header
  display: flex
  justify-content: space-between
  align-items: center

.nav
  line-height: $base-line-height * $base-font-size * 2.25
  position: relative
  overflow: hidden
  z-index: 100

  .line
    position: absolute
    width: 100%
    height: 3px
    left: 0
    right: 0
    bottom: 0
    background-color: #ff5555
    transform-origin: left
    -webkit-transform: translateX(-100%)
    -ms-transform: translateX(-100%)
    transform: translateX(-100%)
    transition: transform 0.8s $ease-out-quint
    will-change: transform

  .nav__trigger
    display: none

  .nav__menu-icon
    display: none

  .nav__page-link
    color: $text-color
    line-height: $base-line-height
    font-size: $base-font-size - 2px
    transition: color 0.4s $ease-out-quint
    // Gaps between nav items, but not on the last one
    &:not(:last-child)
      margin-right: 20px
    &:hover
      text-decoration: none
      transition: color .2s ease-in-out
      color: red
  +media-query(810px)
    position: absolute
    top: 9px
    right: $spacing-unit / 2
    background-color: $background-color
    border: 1px solid $grey-color-light
    border-radius: 5px
    text-align: right

    label[for="nav__trigger"]
      display: block
      float: right
      width: 36px
      height: 36px
      z-index: 2
      cursor: pointer

    .line
      display: none

    .nav__menu-icon
      display: block
      float: right
      width: 36px
      height: 26px
      line-height: 0
      padding-top: 10px
      text-align: center

      > svg path
        fill: $grey-color-dark

    input ~ .trigger
      clear: both
      display: none

    input:checked ~ .trigger
      display: block
      padding-bottom: 5px

    .nav__page-link
      display: block
      padding: 5px 10px

      &:not(:last-child)
        margin-right: 0
        margin-left: 20px

.btn__nav-apply
  padding: 5px 10px 5px 10px
  margin-right: 10px
  +grid-media($desktop)
    display: inline
    padding: 7px 30px
    margin-right: 0

.IYRS-link
  font-size: 15px
  background-color: $light-gray
  max-width: 100%
  margin-left: 0px
  float: none
  padding-left: none
  font-size: inherit
  height: auto
  text-align: center
  height: 60px
  +grid-media($desktop)
    max-width: 100%
    margin-left: 0px
    float: none
    padding-left: none
    font-size: inherit
    height: 35px
  &:hover
    background-color: #ebf0f7

.IYRS-link__text
  padding-top: 5px
  +grid-media($desktop)
    text-align: center
    padding: 7px 0px
    font-size: 13px
    color: black
    margin-right: 0
    margin-bottom: 0

.current-page-header_highlight
  +grid-media($desktop)
    color: #ff5555 !important
    font-size: 14px
    margin-right: 15px

//Site footer

.site-footer
  border-top: 1px solid $grey-color-light
  padding: $spacing-unit 0
  background-color: $light-gray
  width: 100%
  +grid-media($desktop)
    width: 100%

.footer__header
  +grid-column(12)
  +font-face($roboto-mono, $bold, 16px)
  margin-bottom: 20px
  text-align: center
  +grid-media($desktop)
    +grid-column(12)

.footer__nav
  display: -webkit-flex
  display: flex
  -webkit-flex-flow: column
  flex-flow: column
  -webkit-justify-content: space-around
  justify-content: space-around
  align-items: center
  font-size: 13px
  margin-top: 30px

  div
    padding-bottom: 20px

  +grid-media($desktop)
    font-size: 16px
    margin-top: 50px
    min-width: 700px
    -webkit-flex-flow: row wrap
    flex-flow: row wrap
    -webkit-justify-content: space-around
    justify-content: space-around

.footer__iyrs-logo
  display: -webkit-flex
  display: flex
  -webkit-align-items: center
  align-items: center
  -webkit-justify-content: center
  justify-content: center
  margin-top: 25px
  +grid-media($desktop)
    width: 75px
    height: 25px
    +grid-push(5.5)
    margin-top: 30px
    background-color: #E8EEEE
  img
    max-width: 30%
    +grid-media($desktop)
      max-width: 100%

.email-input
  +font-face($roboto-mono, $regular, 14px)
  width: 200px
  margin-left: 50px
  margin-top: 15px
  +grid-media($desktop)
    background-color: $light-gray
    border: 0px solid black
    border-bottom: 2px solid black
    width: 80%
    height: 25px
    margin-left: 50px
    margin-top: 20px
    +grid-column(9)
    +grid-push(1.5)

.signup-arrow
  cursor: pointer
  width: 30px
  +grid-media($desktop)
    width: 20px
    height: 10px
    transition: .2s all ease
    &:hover
      margin-left: 10px
      transition: .2s all ease

.signup-button
  +reset-button()
  margin-left: 10px
  +grid-media($desktop)
    border: none
    background-color: #E8EEEE
    margin-top: 25px
    +grid-column(1)

.footer__privacy-policy
  font-size: 10px
  width: 300px
  margin-left: 35px
  text-align: center
  +grid-media($desktop)
    font-size: 10px
    width: 600px
    +grid-push(2)
    margin-top: 15px

//Page content
.page-content
  position: relative
