


// Main styles for the grid system
.grid-container
  @include grid-container
  max-width: 960px
  margin: 0 auto
  position: relative

// Flex is used primarily to reorganize elements on mobile
.flex
  display: flex
  flex-direction: column
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  display: -webkit-flex 
  display: -moz-box
  display: -ms-flexbox
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  @include grid-media($desktop)
    display: block

// Main button style
.btn
  background: $orange
  margin-top: 10px
  padding: 6px 0
  text-align: center
  color: white
  background: linear-gradient(to right, #ff5555 50%, $orange 50%)
  background-size: 200% 100%
  background-position: right bottom
  transition: background 1.5s $ease-out-quint
  cursor: pointer
.btn:hover
  background-position: left bottom
a.btn
  text-decoration: none
  color: white
a.btn:visited
  color: white
a.btn:hover
  text-decoration: none

.sidebar-contact
  +grid-column(12)
  border-top: 1px $pale-blue-gray solid
  padding-top: 20px
  margin-top: 20px
  order: 4
  +grid-media($desktop)
    +grid-column(3)
    float: right
    border-top: none
    padding-top: 0
    margin-top: 0

.sidebar-contact > span:nth-of-type(1)
  font-style: italic
  display: block
  margin-top: 20px

.sidebar-contact > span:nth-of-type(2)
  +font-face($neuziet, $bold, 36px)
  display: block
  line-height: 28px
  margin-bottom: 20px

.sidebar-contact > div:nth-of-type(4)
  margin-top: 20px

.sidebar-contact > .btn
  +grid-media($tablet)
    width: 50%
  +grid-media($desktop)
    width: auto

.page__intro-text
  +font-face($neuziet, $bold, 20px)
  +grid-column(12)
  order: 1
  color: $dark-navy
  +grid-media($desktop)
    +grid-column(7)

.page__intro-subtext
  +grid-column(12)
  padding: 15px 0
  order: 2
  +grid-media($desktop)
    +grid-column(7)
    padding: 30px 0

.curriculum__catalog,
.curriculum__certification,
.key-dates__application-process,
.speaker-calendar-link
  +font-face($roboto-mono, $bold, 16px)
  margin-bottom: 10px
  a
    color: $orange
  a:hover
    color: darken($orange, 10%)

.curriculum__catalog
  margin-top: 30px

// Site header
.site-header
  min-height: 54px
  padding: 0 40px
  // Positioning context for the mobile navigation icon
  position: relative
  background-color: white

.site-title
  @include relative-font-size(1.625)
  font-weight: 300
  line-height: $base-line-height * $base-font-size * 2.25
  letter-spacing: -1px
  margin-bottom: 0
  float: left

  &,
  &:visited
    color: $grey-color-dark


header
  display: flex
  justify-content: space-between
  align-items: center

.nav
  line-height: $base-line-height * $base-font-size * 2.25
  position: relative
  overflow: hidden
  z-index: 100

  .line
    position: absolute
    width: 100%
    height: 3px
    left: 0
    right: 0
    bottom: 0
    background-color: #ff5555
    transform-origin: left
    transform: translateX(-100%)
    transition: transform 0.8s $ease-out-quint
    will-change: transform

  .nav__trigger
    display: none

  .nav__menu-icon
    display: none

  .nav__page-link
    color: $text-color
    line-height: $base-line-height
    font-size: $base-font-size - 2px
    transition: color 0.4s $ease-out-quint
    // Gaps between nav items, but not on the last one
    &:not(:last-child)
      margin-right: 20px

    &:hover
      text-decoration: none
      transition: color .2s ease-in-out
      color: red

  @include media-query($on-palm)
    position: absolute
    top: 9px
    right: $spacing-unit / 2
    background-color: $background-color
    border: 1px solid $grey-color-light
    border-radius: 5px
    text-align: right

    label[for="nav__trigger"]
      display: block
      float: right
      width: 36px
      height: 36px
      z-index: 2
      cursor: pointer

    .nav__menu-icon
      display: block
      float: right
      width: 36px
      height: 26px
      line-height: 0
      padding-top: 10px
      text-align: center

      > svg path
        fill: $grey-color-dark

    input ~ .trigger
      clear: both
      display: none

    input:checked ~ .trigger
      display: block
      padding-bottom: 5px

    .nav__page-link
      display: block
      padding: 5px 10px

      &:not(:last-child)
        margin-right: 0
        margin-left: 20px

.btn__nav-apply
  padding: 5px 10px 5px 10px
  margin-right: 10px
  +grid-media($desktop)
    display: inline
    padding: 7px 30px
    margin-right: 0

.IYRS-link
  +grid-media($desktop)
    max-width: 100%
    background-color: $light-gray
    margin-left: 0px
    float: none
  &:hover
    background-color: #ebf0f7

.IYRS-link__text
  +grid-media($desktop)
    padding-left: 35%
    padding-top: 7px
    font-size: 13px
    color: black
    margin-right: 0

.current-page-header_highlight
  +grid-media($desktop)
    color: #ff5555 !important
    font-size: 14px
    margin-right: 15px

//Site footer

.site-footer
  border-top: 1px solid $grey-color-light
  padding: $spacing-unit 0
  background-color: $light-gray
  width: 375px
  +grid-media($desktop)
    width: 100%

.footer__header
  +grid-column(12)
  text-align: center
  +grid-media($desktop)
    +grid-column(12)

.footer__nav-item-color
  color: black

.footer__mobile-CTA-space
  padding-left: 20px
  +grid-media($desktop)
    padding-left: 0px

.footer__nav
  font-size: 13px
  +grid-shift(.15)
  ul
    list-style: none
  ul li
    +grid-push(2)
    +grid-column(2)
    margin-right: 15px
  +grid-media($desktop)
    font-size: 16px
    +grid-shift(-.25)
    margin-top: 10px
    ul
      list-style: none
    ul li
      +grid-column(2)
      +grid-push(1)
      margin-right: 0px

.footer__iyrs-logo
  margin-left: 115px
  margin-top: 25px
  +grid-media($desktop)
    width: 75px
    height: 25px
    +grid-push(5.5)
    margin-top: 15px
    background-color: #E8EEEE

.email-input
  width: 200px
  margin-left: 50px
  margin-top: 15px
  +grid-media($desktop)
    background-color: #E8EEEE
    border: 0px solid black
    border-bottom: 1px solid black
    width: 80%
    height: 25px
    margin-left: 50px
    margin-top: 20px
    +grid-column(9)
    +grid-push(1.5)

.signup-arrow
  width: 40px
  +grid-media($desktop)
    width: 20px
    height: 10px

.signup-button
  +grid-media($desktop)
    border: none
    background-color: #E8EEEE
    margin-top: 25px
    +grid-column(1)

.footer__privacy-policy
  font-size: 10px
  width: 300px
  margin-left: 35px
  text-align: center
  +grid-media($desktop)
    font-size: 10px
    width: 600px
    +grid-push(2)
    margin-top: 15px

//Page content
.page-content
  position: relative

.page-heading
  @include relative-font-size(1.25)

.post-list
  margin-left: 0
  list-style: none

  > li
    margin-bottom: $spacing-unit

.post-meta
  font-size: $small-font-size
  color: $grey-color

.post-link
  display: block
  @include relative-font-size(1.5)


//Posts
.post-header
  margin-bottom: $spacing-unit

.post-title
  @include relative-font-size(2.625)
  letter-spacing: -1px
  line-height: 1

  @include media-query($on-laptop)
    @include relative-font-size(2.25)

.post-content
  margin-bottom: $spacing-unit

  h2
    @include relative-font-size(2)

    @include media-query($on-laptop)
      @include relative-font-size(1.75)

  h3
    @include relative-font-size(1.625)

    @include media-query($on-laptop)
      @include relative-font-size(1.375)

  h4
    @include relative-font-size(1.25)

    @include media-query($on-laptop)
      @include relative-font-size(1.125)
