.page__intro-text
  +font-face($neuziet, $bold, 20px)
  color: $dark-navy
  +grid-media($desktop)
    +grid-column(6)
    display: block

.curriculum
  +grid-media($desktop)
    +grid-column(7)
    display: block

.class-list
  list-style: none
  margin: 0

.class-list__class-desc
  display: none
