.hero
  background-image: $hero-bg-gradient
  height: auto
  width: 100%
  z-index: 0

.hero__header-container
  +grid-column(12)
  position: relative
  padding: 150px 0
  z-index: 3
  +grid-media($desktop)
    +grid-column(8)

.dmf-logo
  +font-face($h3-family, 800, $h1-size)

.hero__subtitle
  +font-face($h3-family, $h3-weight, $h3-size)

.hero__background-text
  +grid-column(6)
  position: absolute
  text-transform: uppercase
  +font-face($h3-family, 800, 60px)
  line-height: 60px
  color: $grey-color-light
  z-index: 1
  top: 50%
  transform: translateY(-50%)
  +grid-media($desktop)
    +grid-column(6)
    +font-face($h3-family, 800, 124px)
    position: absolute
    line-height: 120px
    z-index: 1

.speaker-callout
  width: 100%
  background-color: $grey-color-light
  height: auto
  padding: 20px 0

.speaker-callout__text
  +grid-column(12)
  +grid-media($desktop)
    +grid-column(9)


.btn:hover
  background-position: left bottom
  a
    text-decoration: none
    color: white
  a:visited
    color: white
  a:hover
    text-decoration: none

.btn__speaker-callout
  +grid-column(12)
  @extend .btn
  +grid-media($desktop)
    +grid-column(2)
    display: inline
    position: absolute
    top: 50%
    transform: translateY(-50%)
    margin-top: 0

.btn__speaker-series
  +grid-column(12)
  @extend .btn
  order: 4
  +grid-media($tablet)
    +grid-column(6)
  +grid-media($desktop)
    +grid-column(7)
    margin-left: 0px
    display: block
    clear: both

.btn__design,
.btn__build,
.btn__engage,
  +grid-column(12)
  @extend .btn
  order: 4
  +grid-media($tablet)
    +grid-column(4)
  +grid-media($desktop)
    +grid-column(3)
    +grid-push(1)
    display: block
    clear: both

.enroll-callout
  +font-face($roboto-mono, $bold, 20px)
  text-align: center
  margin: 20px
  color: $dark-blue-gray
  +grid-media($desktop)
    margin: 80px 0 40px 0

.enroll-info
  border: 1px dashed #272B3F
  padding: 20px 20px 10px 20px
  margin: 0 20px
  +grid-media($desktop)
    padding: 40px 40px 10px 40px
    margin: 0 auto
    max-width: 850px

.enroll-info__numbers
  +grid-column(10)
  +grid-push(1)
  +grid-media($desktop)
    +grid-column(4)
  ul
    list-style: none
    margin-bottom: 40px
    margin-left: 0
    +grid-media($desktop)
  li
    margin-bottom: 20px
    +grid-media($desktop)
      margin-bottom: 30px
  .enroll-number
    background-color: $light-gray
    padding: 5px
    margin-right: 8px
  span
    padding-left: 37px
    display: inline-block

.enroll-info__enroll-now
  +grid-column(12)
  margin-left: 20px
  +grid-media($desktop)
    +grid-column(5)
    +grid-push(2)
  & > span
    +font-face($neuziet, $regular, 24px)
    background-color: $pale-blue-gray
    color: white
    padding: 10px
  & > div
    +font-face($roboto-mono, $medium, 16px)
    font-style: italic
    color: $dark-blue-gray
    margin-top: 20px
    +grid-media($desktop)
      margin-top: 40px


// Controls the general styles of the main sections
.design,
.build,
.engage
  margin-top: 100px
  +grid-media($desktop)
    margin-top: 200px

  &__header
    +grid-column(12)
    +font-face($h3-family, 800, 80px)
    color: $grey-color-light
    order: 1
    +grid-media($desktop)
      +grid-column(5)
      +font-face($h3-family, 800, 144px)
      line-height: 55px

  &__subtitle
    +grid-column(12)
    +font-face($h3-family, 800, 20px)
    margin-top: -51px
    order: 2
    +grid-media($desktop)
      +grid-column(6)
      +grid-push(1)
      +font-face($h3-family, 800, 28px)
      margin-top: 0px
      padding-top: 50px

  &__subtitle > div
    margin-bottom: 20px
    +grid-media($desktop)
      margin-bottom: 40px

  &__description
    +grid-column(12)
    +font-face($h3-family, 400, 16px)
    order: 3
    +grid-media($desktop)
      +grid-column(4)
      +font-face($h3-family, 400, 14px)
      +grid-push(3)

  &__img
    +grid-column(12)
    // +grid-push(1)
    order: 5
    margin: 0 auto
    position: relative
    +grid-media($desktop)

.design
  margin-bottom: 200px

.design__img
  +grid-column(10)
  +grid-push(1)
  margin-top: 20px
  +grid-media($desktop)
    +grid-column(5)
    +grid-push(7)
    position: absolute
    right: 20px
    top: 110px

// Build section needs more specific styles
// because it is offset
.build__header
  +grid-media($desktop)
    +grid-shift(6)
    line-height: 84px
    +media-query-inbetween(870px, 768px)
      +grid-shift(5)

.build__subtitle
  +grid-media($desktop)

.build__description
  +grid-media($desktop)
    +grid-push(3)
    +grid-shift(-7)

.build__img
  overflow: visible
  margin-top: 20px
  z-index: 10
  +grid-media($desktop)
    +grid-column(8)
    +grid-shift(5)
    position: absolute
    margin-top: 0
    right: 0
    top: 80px

.build__color-block
  width: 90%
  position: absolute
  right: 0
  bottom: 80px
  height: 20vw
  background-color: $grey-color-light

.engage
  margin-bottom: 100px
  +grid-media($desktop)
    margin-bottom: 100px

.engage__img-container
  position: relative
  max-width: 960px
  height: 100%
  margin-top: 20px
  z-index: -1
  order: 5
  +grid-media($desktop)
    height: 590px

.engage__img
  +grid-column(12)
  z-index: -1
  +grid-media($desktop)
    +grid-column(6)
    position: absolute

  &:nth-of-type(1)
    margin-bottom: 20px
    +grid-media($desktop)
      top: 180px
      left: 0

  &:nth-of-type(2)
    +grid-media($desktop)
      +grid-push(6)
      top: 130px
      left: 0

#element--circle
  position: absolute
  height: 80px
  width: 80px
  border-radius: 50%
  transform: translate(-50%, -50%)
  top: 50%
  left: 50%
  background-color: $grey-color-light
  +grid-media($desktop)
    top: 50%
    left: 50%

.speaker-series
  background-image: $hero-bg-gradient
  width: 95%
  margin: 0 auto

.speaker-series__title-container
  +grid-column(12)
  padding: 60px 0
  +grid-media($desktop)
    +grid-column(6)
    padding: 80px 0

.speaker-series__title
  +font-face($h2-size, $h2-weight, $h2-size)

.summer-speaker__subtitle
  +font-face($h3-family, $h3-weight, $h3-size)

.speaker-series__speaker-container
  display: none
  +grid-media($desktop)
    +grid-column(6)
    display: block
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)

.speaker-series__speaker
  display: none
  +grid-media($desktop)
    position: absolute
    display: block

.speaker-series__speaker:nth-child(1)
  bottom: 0
  margin-bottom: 50px
.speaker-series__speaker:nth-child(2)
  right: 25px
  top: 50%
  transform: translateY(-50%)
.speaker-series__speaker:nth-child(3)
  top: 0
  margin-top: 50px

.speaker-name
  display: none
  +grid-media($desktop)
    display: block
    position: absolute
    bottom: 10px
    right: -50px


.cta
  margin: 200px 0 100px 0

.cta__container
  +grid-column(12)
  position: relative
  border: 2px black solid
  text-align: center
  padding: 40px 20px
  margin-bottom: 60px
  +grid-media($desktop)
    +grid-column(4)

.cta__header
  +font-face($h3-family, bold, 36px)
  text-align: center

.cta__btn
  position: absolute
  bottom: -22.5px
  left: 50%
  transform: translateX(-50%)
  padding: 10px 0
  width: 80%
  height: 45px
  background-color: $orange
  +grid-media($desktop)
