// .hero
//   /* Rectangle 10: */
//   opacity: 0.68
//   // background: url('./img/home-hero-bg.png')
//   background-image: -webkit-linear-gradient(top left, #FFDE68 0%, #FF6868 100%)
//   background-image: -o-linear-gradient(top left, #FFDE68 0%, #FF6868 100%)
//   background-image: linear-gradient(to bottom right, #FFDE68 0%, #FF6868 100%)
//   height: auto
//   width: 100%
//   z-index: 0

.speaker-img
  +grid-media($desktop)
    height: 191px
    width: 142px
    max-width: 160%

.hero
  width: 100%
  background: url(./img/home-hero-bg.png) center center no-repeat
  background-size: cover
  position: relative

  &:before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-image: -webkit-linear-gradient(top left, #FFDE68 0%, #FF6868 100%)
    background-image: -o-linear-gradient(top left, #FFDE68 0%, #FF6868 100%)
    background-image: linear-gradient(to bottom right, #FFDE68 0%, #FF6868 100%)
    opacity: .68

.hero__header-container
  +grid-column(12)
  position: relative
  padding: 150px 0
  z-index: 3
  +grid-media($desktop)
    +grid-column(8)
    +grid-push(1)

.dmf-logo
  +font-face($h3-family, 800, $h1-size)

.hero__subtitle
  +font-face($h3-family, $h3-weight, $h3-size)
  color: white
  margin-top: 20px

.hero__background-text
  +grid-column(6)
  +font-face($neuziet, 800, 60px)
  position: absolute
  text-transform: uppercase
  line-height: 60px
  color: white
  opacity: .3
  z-index: 1
  top: 50%
  transform: translateY(-50%)
  +grid-media($desktop)
    +grid-column(6)
    font-size: 144px
    position: absolute
    line-height: 130px
    letter-spacing: 2px
    z-index: 1

.hero-video
  position: absolute
  height: 100%
  width: 100%
  z-index: 0
.hero-video__container::after
  content: ""
  background-color: white
  height: 200px
  width: 100%

.speaker-callout
  width: 100%
  background-color: $dark-navy
  height: auto
  padding: 20px 0

.speaker-callout__text
  +grid-column(12)
  color: white
  +grid-media($desktop)
    +grid-column(8)
    +grid-push(1)

.btn__speaker-callout
  +grid-column(12)
  @extend .btn
  +grid-media($desktop)
    +grid-column(2)
    display: inline
    position: absolute
    top: 50%
    transform: translateY(-50%)
    margin-top: 0

.btn__design,
.btn__build,
.btn__engage,
  +grid-column(12)
  @extend .btn
  order: 4
  +grid-media($tablet)
    +grid-column(4)
  +grid-media($desktop)
    +grid-column(3)
    +grid-push(1)
    display: block
    clear: both

.enroll-callout
  +font-face($roboto-mono, $bold, 20px)
  text-align: center
  margin: 20px
  color: $dark-navy
  +grid-media($desktop)
    margin: 80px 0 40px 0

.enroll-info
  padding: 30px 20px 30px 20px
  margin: 0 20px
  background-color: $dark-navy
  color: white
  +grid-media($desktop)
    padding: 40px 40px 10px 40px
    margin: 0 auto

.enroll-info__numbers
  color: white
  +grid-column(10)
  +grid-media($desktop)
    +grid-column(5)
  ul
    list-style: none
    margin-bottom: 40px
    margin-left: 0
    +grid-media($desktop)
  li
    font-size: 16px
    margin-bottom: 20px
    +grid-media($desktop)
      margin-bottom: 30px
      font-size: 24px

  .enroll-number
    position: relative
    padding: 5px 8px
    margin-right: 16px
    color: $dark-navy
    z-index: 0
  .enroll-number::after
    content: ""
    position: absolute
    border: 2px white solid
    height: 35px
    width: 35px
    transform: translate(-25px, -7px)
    +grid-media($desktop)
      height: 45px
      width: 45px
      transform: translate(-34px, -8px)
  .enroll-number::before
    content: ""
    position: absolute
    background-color: $yellow
    height: 35px
    width: 35px
    z-index: -1
    transform: translate(-11px, -2px)
    +grid-media($desktop)
      height: 45px
      width: 45px
      z-index: -1
      transform: translate(-12px, -2px)

  div
    // This div controls the
    // "Externship or capstone project" text
    padding-left: 51px
    display: inline-block
    +grid-media($tablet)
      padding-left: 0
    +grid-media($desktop)
      padding-left: 60px

.enroll-info__enroll-now
  +grid-column(12)
  margin-left: 20px
  +grid-media($desktop)
    +grid-column(5)
    +grid-push(2)
  & > span
    +font-face($neuziet, $bold, 18px)
    background-color: $yellow
    color: $dark-navy
    padding: 10px
    letter-spacing: 2.4px
    +grid-media($desktop)
      font-size: 24px
  & > span > span
    margin-left: 10px
  & > div:first-of-type
    +font-face($roboto-mono, $medium, 16px)
    font-style: italic
    color: white
    margin-top: 20px
    +grid-media($desktop)
      margin-top: 40px

.enroll__btn
  margin-top: 20px

// Controls the general styles of the main sections
.design,
.build,
.engage
  margin-top: 100px
  position: relative
  +grid-media($desktop)
    margin-top: 200px

  &__header
    +grid-column(12)
    +font-face($h1-family, 800, 80px)
    text-transform: uppercase
    letter-spacing: 6px
    color: $dark-navy
    order: 1
    line-height: 70px
    margin-bottom: 20px
    +grid-media($desktop)
      +grid-column(5)
      font-size: 100px
      margin-bottom: 0
      margin-top: 23px

  &__subtitle
    +grid-column(12)
    +font-face($h3-family, 800, 20px)
    order: 2
    +grid-media($desktop)
      +grid-column(8)
      +font-face($h3-family, 800, 28px)
      margin-top: 0px
      padding-top: 50px

  &__subtitle > div
    margin-bottom: 20px
    color: $dark-navy
    +grid-media($desktop)
      margin-bottom: 20px

  &__subtitle > div > span
    color: $cyan
    padding-right: 10px
    +grid-media($desktop)
      padding-right: 40px

  &__description
    +grid-column(12)
    +font-face($h3-family, 400, 16px)
    order: 3
    +grid-media($desktop)
      +grid-column(5)
      +grid-push(2)

  &__img
    +grid-column(12)
    // +grid-push(1)
    order: 5
    margin: 0 auto
    position: relative
    +grid-media($desktop)


// Specific styles for the design section
.design
  +grid-media($desktop)
    margin-bottom: 300px

.design__header
  +grid-media($desktop)
    position: absolute
    transform: translate(1px, -77px)
    line-height: 90px
    margin-top: 0

.design__subtitle
  +grid-media($desktop)
    padding-top: 70px

.design__description
  +grid-media($desktop)
    +grid-push(7)

.design__img
  +grid-column(10)
  +grid-push(1)
  margin-top: 20px
  +grid-media($desktop)
    +grid-column(6)
    +grid-push(7)
    position: absolute
    right: 20px
    top: 170px

// Specific styles for the build section
.build
  margin-bottom: 110px
  padding: 50px 0
  background-color: $dark-navy
  +grid-media($desktop)
    margin-bottom: 0
    z-index: -1

  .grid-container
    z-index: 1

.edge--both:before
  transform: skewY(5deg)

.edge--both:after
  transform: skewY(-5deg)

.build__bg
  position: absolute
  top: 0
  z-index: 0

.build__header
  color: white
  +grid-media($desktop)

.build__subtitle > div
  color: white
  +grid-media($desktop)

.build__description
  color: white
  +grid-media($desktop)

//
// .build__img
//   overflow: visible
//   margin-top: 20px
//   z-index: 10
//   +grid-media($desktop)
//     +grid-column(8)
//     +grid-shift(5)
//     position: absolute
//     margin-top: 0
//     right: 0
//     top: 80px

.svg-wrapper
  width: 100%
  overflow: hidden


// Specific styles for the engage section
.engage
  margin-bottom: 100px
  position: relative
  +grid-media($desktop)
    margin-bottom: 100px

.engage__img-container
  position: relative
  max-width: 960px
  height: 100%
  margin-top: 20px
  z-index: -1
  order: 5
  +grid-media($desktop)
    height: 850px

.engage__img
  +grid-column(12)
  z-index: 0
  +grid-media($desktop)
    +grid-column(6)
    position: absolute

  &:nth-of-type(1)
    margin-bottom: 20px
    z-index: 1
    +grid-media($desktop)
      +grid-push(5)
      top: 180px
      left: 0
    +media-query-inbetween(912px, 768px)
      top: 200px

  &:nth-of-type(2)
    z-index: 1
    +grid-media($desktop)
      +grid-push(7)
      top: 500px
      left: 0
    +media-query-inbetween(1080px, 768px)
      +grid-push(6)

.engage__img::before
  content: ""
  position: absolute
  width: 100%
  height: 100%
  transform: translate(4%, 6%)
  border: 4px $yellow solid
  +media-query-inbetween(767px, 474px)
    width: 419px
    height: 279px
  +grid-media($desktop)
    width: 93%

.engage__dot-bg
  position: absolute
  right: 0
  bottom: 0
  z-index: -2
  width: 436px
  height: 331px
  +grid-media($desktop)
    right: 0px
    top: 280px



// Specific styles for the speaker series section
.speaker-series
  background-color: $dark-navy
  width: 95%
  margin: 0 auto

.speaker-series__title-container
  +grid-column(12)
  padding: 60px 0
  +grid-media($desktop)
    +grid-column(5)
    padding: 80px 0

.speaker-series__title
  +font-face($h2-family, $h2-weight, $h1-size)
  color: white
  line-height: 70px

.speaker-series__subtitle
  +font-face($h3-family, $h3-weight, 16px)
  color: white
  margin: 20px 0

.btn__speaker-series
  +grid-column(12)
  @extend .btn
  order: 4
  +grid-media($tablet)
    +grid-column(6)
  +grid-media($desktop)
    +grid-column(8)
    margin-left: 0px
    display: block
    clear: both

.speaker-series__speaker-container
  display: none
  +grid-media($desktop)
    +grid-column(6)
    display: block
    position: absolute
    right: 70px
    top: 50%
    transform: translateY(-50%)
    img
      +media-query-inbetween(1120px, 768px)
        max-width: 80%

.speaker-series__speaker
  display: none
  +grid-media($desktop)
    position: absolute
    display: block

.speaker-series__speaker:nth-child(1)
  bottom: 5px
.speaker-series__speaker:nth-child(2)
  right: 40px
  top: -100px
  transform: translateY(-50%)
  +media-query-inbetween(1120px, 768px)
    right: 60px
  .speaker-name
    width: 134px
.speaker-series__speaker:nth-child(3)
  top: 0
.speaker-series__speaker:nth-child(4)
  top: 85px
  right: 40px

.speaker-name
  +font-face($neuziet, $bold, 18px)
  display: none
  color: white
  text-transform: uppercase
  +grid-media($desktop)
    display: block
    position: absolute
    bottom: 70px
    left: 170px
  +media-query-inbetween(1120px, 768px)
    left: 135px

.speaker-images::before
  content: ""
  position: absolute
  border: 4px $yellow solid
  z-index: -1
  transform: translate(10px, 10px)
  +grid-media($desktop)
    height: 191px
    width: 142px
    z-index: -1
    transform: translate(10px, 10px)
  +media-query-inbetween(1120px, 768px)
    height: 153px
    width: 115px

.cta
  margin: 200px 0 100px 0

.enroll-cta
  margin-bottom: 40px
  +grid-media($desktop)
    margin-bottom: 80px
  h3
    +font-face($h3-family, $bold, $h3-size)
    color: $dark-navy
    text-align: center
    margin-bottom: 20px
  div
    +font-face($roboto-mono, $bold, 14px)
    margin-bottom: 10px
    text-align: center
    a
      color: $orange
    a:hover
      color: darken($orange, 10%)

.cta__container
  +grid-column(12)
  position: relative
  text-align: center
  padding: 60px 20px
  margin-bottom: 60px
  background-color: $light-gray
  +grid-media($desktop)
    +grid-column(4)
.cta__container::before
  content: ""
  position: absolute
  height: 100%
  width: 100%
  border: 2px #272B3F solid
  transform: translate(-53%, -69px)

.cta__header
  +font-face($neuziet, bold, 24px)
  text-align: center
  text-transform: uppercase
  letter-spacing: 3px
  margin-bottom: 20px
  color: $dark-navy

.cta__subtitle
  font-size: 14px
  color: $dark-navy

.cta__btn
  position: absolute
  bottom: -16px
  left: 50%
  transform: translateX(-50%)
  padding: 10px 0
  width: 80%
  height: 45px
  background-color: $orange
  +grid-media($desktop)
