//square feet section 
.square-feet-section
	+grid-media($desktop)
		margin-top: 75px

.dot-bg
	+grid-media($desktop)
		width: 512px
		height: 331px
		z-index: -1
		margin-top: -580px
		position: relative
		+grid-shift(-3)

.square-feet-img
	+grid-media($desktop)
		+grid-column(6)
		+grid-shift(7)
		width: 455px
		height: 280px

.square-feet-rectangle
	+grid-media($desktop)
		+grid-shift(1.3)
		
.build-space-opening-date 
	+grid-media($desktop)
		margin-left: 450px
		
.square-feet-title
	+grid-media($desktop)
		

.square-feet-title__size
	+grid-media($desktop)
		text-align: right
		+font-face($h1-family, $h1-weight, 50px)
		margin-top: -100px


.square-feet-title__bg::after
	position: relative
	background-color: $yellow
	height: 35px
	width: 35px
	z-index: -1
	transform: translate(-11px, -2px)
	+grid-media($desktop)
		position: aboslute
		height: 45px
		width: 45px
		z-index: -1
		transform: translate(-12px, -2px)



//machines section 
.machines-section
	+grid-media($desktop)
		
.machines-img
	+grid-media($desktop)
		+grid-column(6)
		width: 371px
		height: 376px

.machines-rectangle
	+grid-media($desktop)
		+grid-column(6)
		+grid-shift(-4.7)
		margin-top: 25px
		width: 371px
		height: 376px


.machines-title
	+grid-media($desktop)
		+grid-media($desktop)
		+font-face($h1-family, $h1-weight, 50px)
		
		text-align: left
	.machines-title::after
		background-color: $yellow
		height: 35px
		width: 35px
		z-index: -1
		transform: translate(-11px, -2px)
		+grid-media($desktop)
			height: 45px
			width: 45px
			z-index: -1
			transform: translate(-12px, -2px)


//tools creation 
.tools-for-creation
	+grid-media($desktop)
		+grid-shift(-1)
		max-width: 600px
		margin-top: 150px

.tools-for-creation__title
	+grid-media($desktop)
		+font-face($h3-family, $h3-weight, 20px)

.machine-options-section
	+grid-media($desktop)
		margin-top: 100px

.large_dot_bg
	+grid-media($desktop)
		width: 100%


//Laser Cutter Image	
.laser-cutter
	+grid-media($desktop)
		+grid-column(3) 
		+grid-push(1)
		margin-top: -200px

.laser-cutter__outline
	+grid-media($desktop)
		width: 130px
		margin-left: -143px
		margin-top: -5px

.laser-cutter__fill
	+grid-media($desktop)
		width: 130px

.laser-cutter__title
	+grid-media($desktop)
		margin-top: 10px


//CNC Image
.CNC
	+grid-media($desktop)
		+grid-column(3) 
		+grid-push(5)
		margin-top: -200px

.CNC__outline
	+grid-media($desktop)
		width: 130px
		margin-left: -143px
		margin-top: -5px

.CNC__fill
	+grid-media($desktop)
		width: 130px

.CNC__title
	+grid-media($desktop)
		margin-top: 10px

//3D Printer Image
.ThreeD-printer
	+grid-media($desktop)
		+grid-column(3) 
		+grid-push(9)
		margin-top: -200px

.ThreeD-printer__outline
	+grid-media($desktop)
		width: 130px
		margin-left: -143px
		margin-top: -5px

.ThreeD-printer__fill
	+grid-media($desktop)
		width: 130px

.ThreeD-printer__title
	+grid-media($desktop)
		margin-top: 10px

//Software List
.software-list
	+grid-media($desktop)
		+grid-column(3)
		+grid-push(1)
		margin-top: 40px
		list-style-type: none
		line-height: 35px

.software-list__title
	+grid-media($desktop)
		margin-bottom: 30px

//Machines List
.machines-list
	+grid-media($desktop)
		+grid-column(3)
		+grid-push(1)
		margin-top: 40px
		list-style-type: none
		line-height: 35px

.machines-list__title
	+grid-media($desktop)
		margin-bottom: 30px

//Electronics List
.electronics-list
	+grid-media($desktop)
		+grid-column(3)
		+grid-push(1)
		margin-top: 40px
		list-style-type: none
		line-height: 35px

.electronics-list__title
	+grid-media($desktop)
		margin-bottom: 30px

