//square feet section 
.square-feet-section
	margin-top: 75px
	+grid-media($desktop)
		margin-top: 100px

.square-feet-img
	width: 300px
	height: 200px
	+grid-push(1)
	+grid-media($desktop)
		+grid-column(6)
		+grid-shift(7)
		width: 455px
		height: 280px

.square-feet-rectangle
	width: 300px
	height: 200px
	z-index: -1
	margin-top: -225px
	+grid-push(1)
	+grid-media($desktop)
		+grid-shift(6)
		margin-top: -300px
		z-index: 0
		width: 455px
		height: 280px
		
.build-space-opening-date 
	+grid-column(12)
	+grid-push(2)
	position: absolute
	margin-top: 450px
	+grid-media($desktop)
		margin-left: 450px
		margin-top: 50px
		max-width: 250px
		color: #D8D8D8
		
.square-feet-title
	+grid-push(2)
	margin-bottom: 50px
	margin-top: 25px
	line-height: 30px
	+grid-media($desktop)
		margin-top: -100px
		

.square-feet-title__size
	+grid-media($desktop)
		text-align: right
		+font-face($h1-family, $h1-weight, 50px)
		position: relative


#square-feet__yellow-rectangle 
	+grid-media($desktop)
		+grid-push(9)
		width: 165px
		height: 60px
		background: $yellow
		postition: relative
		padding-top: 20px
	

.square-feet-img__spacing 
	+grid-media($desktop)
		margin-top: -150px

//machines section 
.machines-section
	margin-top: 150px
	+grid-media($desktop)
		
.machines-img
	width: 200px
	height: 300px
	+grid-push(2)
	+grid-media($desktop)
		+grid-column(6)
		width: 371px
		height: 376px

.machines-rectangle
	width: 200px
	height: 300px
	+grid-push(2)
	margin-top: -300px
	margin-left: 100px
	+grid-media($desktop)
		+grid-column(6)
		+grid-shift(-4.7)
		margin-top: 25px
		width: 371px
		height: 376px

.dot-bg
	display: none
	+grid-media($desktop)
		width: 512px
		height: 331px
		z-index: -1
		margin-top: -580px
		position: relative
		+grid-shift(-3)
		display: initial

.machines-title
	+grid-push(2)
	margin-bottom: 55px
	position: absolute
	margin-top: 250px
	+grid-media($desktop)
		+font-face($h1-family, $h1-weight, 30px)
		text-align: left
		position: relative
		+grid-push(0)
		margin-top: -100px

.machines-title__size
	line-height: 10px

//tools creation 
.tools-for-creation
	margin-top: 150px
	max-width: 250px
	+grid-media($desktop)
		+grid-shift(-1)
		max-width: 600px
		margin-top: 150px

.tools-for-creation__title
	+grid-media($desktop)
		+font-face($h3-family, $h3-weight, 20px)

.machine-options-section
	margin-top: 100px
	+grid-media($desktop)
		margin-top: 100px

.large_dot_bg
	display: none
	+grid-media($desktop)
		width: 100%
		display: block


//Laser Cutter Image	
.laser-cutter
	+grid-push(3)
	+grid-media($desktop)
		+grid-column(3) 
		+grid-push(1)
		margin-top: -200px

.laser-cutter__outline
	margin-left: -155px
	margin-top: -5px
	+grid-media($desktop)
		width: 130px
		margin-left: -143px
		margin-top: -5px

.laser-cutter__fill
	+grid-media($desktop)
		width: 130px

.laser-cutter__title
	+grid-media($desktop)
		margin-top: 10px


//CNC Image
.CNC
	+grid-push(3)
	margin-top: 50px
	+grid-media($desktop)
		+grid-column(3) 
		+grid-push(5)
		margin-top: -200px

.CNC__outline
	margin-left: -155px
	margin-top: -5px
	+grid-media($desktop)
		width: 130px
		margin-left: -143px
		margin-top: -5px

.CNC__fill
	+grid-media($desktop)
		width: 130px

.CNC__title
	+grid-media($desktop)
		margin-top: 10px

//3D Printer Image
.ThreeD-printer
	+grid-push(3)
	margin-top: 50px
	+grid-media($desktop)
		+grid-column(3) 
		+grid-push(9)
		margin-top: -200px

.ThreeD-printer__outline
	margin-left: -155px
	margin-top: -5px
	+grid-media($desktop)
		width: 130px
		margin-left: -143px
		margin-top: -5px

.ThreeD-printer__fill
	+grid-media($desktop)
		width: 130px

.ThreeD-printer__title
	+grid-media($desktop)
		margin-top: 10px

//Software List
.software-list
	+grid-push(2.5)
	margin-top: 40px
	list-style-type: none
	line-height: 35px
	font-size: 12px
	+grid-media($desktop)
		+grid-column(4)
		+grid-push(1)
		line-height: 35px

.software-list__title
	font-size: 25px
	+grid-media($desktop)
		margin-bottom: 30px
		font-size: 35px

//Machines List
.machines-list
	+grid-push(2.5)
	margin-top: 40px
	list-style-type: none
	line-height: 35px
	font-size: 12px
	+grid-media($desktop)
		+grid-column(4)
		margin-top: 40px
		list-style-type: none
		line-height: 35px

.machines-list__title
	font-size: 25px
	+grid-media($desktop)
		margin-bottom: 30px
		font-size: 35px

//Electronics List
.electronics-list
	+grid-push(2.5)
	margin-top: 40px
	list-style-type: none
	line-height: 35px
	font-size: 12px
	+grid-media($desktop)
		+grid-column(3)
		margin-top: 40px
		list-style-type: none
		line-height: 35px

.electronics-list__title
	font-size: 25px
	+grid-media($desktop)
		margin-bottom: 30px
		font-size: 35px

