.info-container
  & > div:nth-child(1)
    margin-top: 100px
    +grid-column(12)
    +grid-media($desktop)
      +grid-column(8)
      margin-top: 100px

.speaker-calendar-link
  +grid-column(10)
  +grid-push(1)
  margin-top: 30px
  +grid-media($desktop)
    margin-top: 20px
    display: block
    +grid-push(0)
    +font-face($h3-family, 800, 15px)

.speaker-calendar-link:hover .triangle-right
  margin-left: 20px
  transition: .2s all $ease-out-quint

.triangle-right
  width: 12px
  height: 15px
  margin-left: 0px
  +grid-media($desktop)
    width: 10px
    height: 13px
    margin-left: 0
    padding-bottom: 2px
    transition: .2s all $ease-out-quint
  &:hover
    margin-left: 20px

//Speaker Section
.speaker-section
  margin-top: 80px

.speaker-section__title
  +font-face($h3-family, $bold, 30px)
  +grid-column(12)
  +grid-media($desktop)
    font-size: 35px

.speaker-section__speakers
  +grid-column(6)
  margin-bottom: 55px
  margin-top: 20px
  +grid-media($desktop)
    margin-top: 50px
    +grid-column(3)
.speaker-section__speakers::before
  content: ""
  position: absolute
  border: 4px $yellow solid
  height: 191px
  width: 142px
  z-index: -1
  -webkit-transform: translate(10px, 10px)
  -ms-transform: translate(10px, 10px)
  transform: translate(10px, 10px)
  +grid-media($desktop)
    height: 191px
    width: 142px
    z-index: -1
    -webkit-transform: translate(10px, 10px)
    -ms-transform: translate(10px, 10px)
    transform: translate(10px, 10px)

.speaker-section__speakers__img
  width: 142px
  height: 191px
  +grid-media($desktop)
    width: 142px
    height: 191px

.speaker-section__speakers__name
  +font-face($h3-family, $bold, 16px)
  margin-top: 15px
  margin-bottom: 0
  max-width: 155px
  +grid-media($desktop)
    margin-top: 20px
    margin-bottom: 0px
    font-size: 15px

.speaker-section__speakers__date
  font-weight: 400i

.speeches-block
  +grid-column(12)
  margin-bottom: 25px
  color: $dark-navy
  +grid-media($desktop)
    +grid-column(8)
    margin-bottom: 100px

.speeches-block__speech-title
  +font-face($neuziet, $bold, 28px)

.speeches-block__speaker-name
  +font-face($roboto-mono, $bold, 20px)
  margin-bottom: 0


.speeches-block__date
  +font-face($roboto-mono, 400i, 16px)
  font-style: italic

.speeches-block__desc

.speeches-button
  +grid-media($desktop)
    width: 250px
