---
layout: default
---

<section class="hero">
  <div class="grid-container">
    <div class="hero__header-container">
      <div class="dmf-logo">DM&F</div>
      <div class="hero__subtitle">Join the maker movement with IYRS’s Digital Modeling and Fabrication program
located in Newport, Rhode Island.</div>
    </div>
    <div class="hero__background-text">CALLING ALL MAKERS</div>
  </div>
</section>

<div class="speaker-callout">
  <div class="grid-container">
    <div class="speaker-callout__text"> Join us this summer for our free summer speaker series & workshops. </div>
    <a href="summer-speakers/" class="btn btn__speaker-callout">Learn More</a>
  </div>
</div>

<section class="iyrs-info"></section>

<section class="design">
  <div class="grid-container flex">
      <div class="design__header">Design</div>
      <div class="design__description">Learn the pricinciples of 3D design & product development. Understand how to develop a product that is functional, sustainable, and user focused.</div>
    <div class="design__subtitle">
      <div class="">Phsyical Object Design</div>
      <div class="">CNC Machining</div>
      <div class="">Addative Manufacturing</div>
  </div>
    <a href="curriculum" class="btn btn__design">View Curriculum</a>
    <img class="design__img" src="img/product_development_cycle@2x.png"/>
</div>
</section>

<section class="build">
  <div class="grid-container flex">
    <div class="build__header">Build</div>
    <div class="build__description">Make anything possible with with the additive and subtractive materials necessary for contemporary 3d design in our state-of-the-art Build Studio. </div>
    <div class="build__subtitle">
      <div class="">3D Printing</div>
      <div class="">Laser Cutting</div>
      <div class="">Vacuum Forming</div>
      <div class="">Physical Computing</div>
    </div>
    <a href="curriculum" class="btn btn__build">Our Build Studio</a>
    <img class="build__img" src="img/materials-mockup.png"/>
    <!-- <div class="build__color-block"></div> -->
</div>
</section>

<section class="engage">
  <div class="grid-container flex">
    <div class="engage__header">Engage</div>
    <div class="engage__description">Learn 3D design to 3D fabrication and facilitate clear understanding of project goals to all project team members for better products.</div>
    <div class="engage__subtitle">
      <div class="">Prototyping</div>
      <div class="">Collaboration</div>
      <div class="">Testing</div>
      <div class="">Analyzing</div>
    </div>
    <a href="curriculum" class="btn btn__engage">Careers</a>
    <div class="engage__img-container">
      <img class="engage__img" src="http://placehold.it/470x285">
      <img class="engage__img" src="http://placehold.it/470x285">
      <span id="element--circle"></span>
    </div>
</div>
</section>

<section class="cta">
  <div class="grid-container">
    <div class="cta__container">
      <div class="cta__header">Learn More</div>
      <div class="cta__subtitle">Lorem ipsum dolor sit emet.</div>
      <div class="cta__btn"><a href="">Request Viewbook</a></div>
    </div>
    <div class="cta__container">
      <div class="cta__header">Visit IYRS</div>
      <div class="cta__subtitle">Lorem ipsum dolor sit emet.</div>
      <div class="cta__btn"><a href="">Schedule a Visit</a></div>
    </div>
    <div class="cta__container">
      <div class="cta__header">Apply Now!</div>
      <div class="cta__subtitle">Lorem ipsum dolor sit emet.</div>
      <div class="cta__btn"><a href="">Apply</a></div>
    </div>
</div>
</section>



<!-- <div class="home">


  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div> -->
