---
layout: default
---

<section class="hero">
  <div class="grid-container">
    <div class="hero__header-container">
      <div class="dmf-logo">DM&F</div>
      <div class="hero-subtitle">Join the maker movement with IYRS’s Digital Modeling and Fabrication program
located in Newport, Rhode Island.</div>
    </div>
    <div class="hero__background-text">CALLING ALL MAKERS</div>
  </div>
</section>

<div class="speaker-callout">
  <div class="grid-container">
    <div class="speaker-callout__text"> Join us this summer for our free summer speaker series & workshops. </div>
    <a href="summer-speakers/" class="speaker-callout__btn">Learn More</a>
  </div>
</div>


<section class="iyrs-info"></section>

<section class="design">
  <div class="design__header">Design</div>
  <div class="design__subtitle">
    <div class="">Phsyical Object Design</div>
    <div class="">CNC Machining</div>
    <div class="">Addative Manufacturing</div>
  </div>
  <div class="design__description">Learn the pricinciples of 3D design & product development. Understand how to develop a product that is functional, sustainable, and user focused.</div>
</section>

<section class="build"></section>
<section class="engage"></section>
<section class="cta"></section>



<!-- <div class="home">


  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div> -->
