---
layout: default
---
<section class="hero">
    <div class="hero-video__container">
        <video class="hero-video" muted autoplay loop poster="{{ site.baseurl }}/img/home-hero-bg.jpg">
   <source src="{{ site.baseurl }}/img/home-header-video.mp4" type="video/mp4"/>
    Your browser does not support the video tag. You should upgrade your browser!
  </video>
    </div>

  <div class="hero__header-wrapper">
    <div class="grid-container">
        <div class="hero__header-wrapper">
          <div class="hero__header-container">
            <div class="dmf-logo"><img src="{{ site.baseurl }}/img/dmf-logo.svg" /></div>
            <div class="hero__subtitle">Join IYRS’ Digital Modeling & Fabrication program in its newest 20,000 sf facility on Newport’s historic harbor.</div>
        </div>
        </div>
        <div class="hero__background-text">CALLING ALL MAKERS</div>
    </div>
    </div>
</section>

<div class="speaker-callout">
    <div class="grid-container">
        <div class="speaker-callout__text"> Join us this summer for our free summer speaker series. </div>
        <a href="{{base}}/speaker-series/">
            <a href="{{ site.baseurl }}/summer-speakers/" class="btn btn__speaker-callout">Learn More</a>
        </a>
    </div>
</div>

<div class="enroll-callout">Imagine a learning experience in which you can <span>make anything possible.</span></div>
<section class="enroll-info grid-container">
    <div class="enroll-info__numbers">
        <ul>
            <li><span class="enroll-number">09</span>Month full-time
                <div>program</div>
            </li>
            <li><span class="enroll-number">10</span>Classes</li>
            <li><span class="enroll-number">01</span>Industry immersive
                <div>experience</div>
            </li>
            <li><span class="enroll-number">01</span>Prototyping project
            </li>
        </ul>
    </div>
    <div class="enroll-info__enroll-now">
        <span>ENROLLING NOW FOR <span>SEPTEMBER, 2017!</span></span>
        <div>Earn your certification & advance your career or entrepreneurial aspirations.</div>
        <a href="{{ site.baseurl }}/program/">
          <div class="btn enroll__btn">Enrollment information</div>
        </a>
    </div>
</section>

<div class="design-dot-bg"></div>

<section class="design">
    <div class="grid-container flex">
        <div class="design__header">3D Design</div>
        <div class="design__description">Apply the principles of 3D design and product development. Understand how to develop a functional, sustainable, and potentially marketable product.</div>
        <div class="design__subtitle">
            <div class=""><span class="subtitle-number">01</span>Physical object design</div>
            <div class=""><span class="subtitle-number">02</span>Product development cycle</div>
            <div class=""><span class="subtitle-number">03</span>Additive manufacturing <span id="indent-scalability">scalability<span></div>
        </div>
        <a href="{{ site.baseurl }}/program/"class="btn btn__design">View Curriculum</a>
        <img class="design__img" src="{{ site.baseurl }}/img/product-dev-cycle.svg" />
    </div>
</section>

<section class="build edge--both">
    <div class="grid-container flex">
        <div class="build__header">Build</div>
        <div class="build__description">With state of the art machines, build anything possible at the DM&F Build Studio.</div>
        <div class="build__subtitle">
            <div class=""><span class="subtitle-number">01</span>3D Printing</div>
            <div class=""><span class="subtitle-number">02</span>Laser Cutting</div>
            <div class=""><span class="subtitle-number">03</span>CNC Machining</div>
            <div class=""><span class="subtitle-number">04</span>Physical Computing</div>
        </div>
        <a class="btn btn__build" href="{{ site.baseurl }}/studio/">Our Build Studio</a>
        <div class="build__img-container">
          <picture class="build__img">
              <source srcset="{{ site.baseurl }}/img/build-img@2x.jpg 2x, {{ site.baseurl }}/img/build-img.jpg 1x" />
              <img src="{{ site.baseurl }}/img/build-img.jpg" alt="Student inspects a tool at the IYRS workshop" />
          </picture>
        </div>
    </div>
</section>

<section class="engage">
    <div class="grid-container flex">
        <div class="engage__header">Engage</div>
        <div class="engage__description">Push the limits of creativity and innovation with individual and team-based projects that allow you the freedom to discover your true talents, in a learning environment created with the “modern maker” in mind.</div>
        <div class="engage__subtitle">
            <div class=""><span class="subtitle-number">01</span>Prototyping</div>
            <div class=""><span class="subtitle-number">02</span>Collaboration</div>
            <div class=""><span class="subtitle-number">03</span>Testing</div>
            <div class=""><span class="subtitle-number">04</span>Analyzing</div>
        </div>
        <a class="btn btn__engage" href="{{ site.baseurl }}/careers/">Careers</a>
        <div class="engage__img-container">
            <picture class="engage__img">
                <source srcset="{{ site.baseurl }}/img/engage-img-1@2x.jpg 2x, {{ site.baseurl }}/img/engage-img-1.jpg 1x" />
                <img src="{{ site.baseurl }}/img/engage-img-1.jpg" alt="Students collaborate on a team at IYRS" />
            </picture>
            <picture class="engage__img">
                <source srcset="{{ site.baseurl }}/img/engage-img-2@2x.jpg 2x, {{base}}/img/engage-img-2.jpg 1x" />
                <img src="{{ site.baseurl }}/img/engage-img-2.jpg" alt="Students discuss digital modeling software in IYRS' Build Studio" />
            </picture>
        </div>
    </div>
    <img class="engage__dot-bg" src="{{ site.baseurl }}/img/dot-bg.svg" />
</section>

<section class="speaker-series">
    <div class="grid-container">
        <div class="speaker-series__title-container">
            <div class="speaker-series__title">Summer Speakers Series</div>
            <div class="speaker-series__subtitle">Join us this summer as we explore various topics on 3D technology, business, and contemporary practices in the realm of design & fabrication. </div>
            <a href="{{ site.baseurl }}/summer-speakers/">
                <div class="btn btn__speaker-series">Speaker Schedule</div>
            </a>
        </div>

        <div class="speaker-series__speaker-container">
            {% for post in site.categories.speakers %}
            <div class="speaker-images speaker-series__speaker">
                <img class="speaker-img" src="{{ post.speaker-img_home }}" />
                <div class="speaker-name">{{ post.title }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="cta">
    <div class="enroll-cta">
      <h3>Enrollment begins in September!</h3>
      <div>View key dates and admissions information <a href="{{ site.baseurl }}/program/">here</a>.</div>
    </div>
    <div class="grid-container">
        <div class="cta__container">
            <div class="cta__header sub-header-1">Learn More</div>
            <div class="cta__subtitle">Curious about DM&F? Learn more about the program.</div>
            <a href="http://iyrs.edu/digital-modeling-fabrication-request-information/">
                <div class="btn cta__btn">Request Viewbook</div>
            </a>
        </div>
        <div class="cta__container">
            <div class="cta__header">Visit IYRS</div>
            <div class="cta__subtitle">Visit our new building in beautiful Newport, RI.</div>
            <a href="{% include visit-link.html %}">
                <div class="btn cta__btn">Schedule a Visit</div>
            </a>
        </div>
        <div class="cta__container">
            <div class="cta__header">Apply Now!</div>
            <div class="cta__subtitle">Join our first inaugural DM&F class.</div>
            <a href="{% include apply-link.html %}">
                <div class="btn cta__btn">Apply</div>
            </a>
        </div>
    </div>
</section>
